<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mybroker</title>
    <link rel="stylesheet" href="/mini.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <h1><a href="/" style="color: black;">Mybroker</a></h1>
        <hr>
        <div class="col-sm-9">
        {% block body %}

        {% endblock %}
        </div>
        <hr>
        Copyright 2023, Nautilus Institute
    </div>
</body>
</html>